:root {
    --green: #0C5E20;
    --blue: #2A2F47;
    --white: #FFFFFF;
    --gray: #F1F3F5;
}

@font-face {
    font-family: 'WixMadeforDisplay';
    src: url('../resources/fonts/WixMadeforDisplay-Bold.woff2') format('woff2'),
        url('../resources/fonts/WixMadeforDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WixMadeforDisplay';
    src: url('../resources/fonts/WixMadeforDisplay-ExtraBold.woff2') format('woff2'),
        url('../resources/fonts/WixMadeforDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WixMadeforDisplay';
    src: url('../resources/fonts/WixMadeforDisplay-Medium.woff2') format('woff2'),
        url('../resources/fonts/WixMadeforDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WixMadeforDisplay';
    src: url('../resources/fonts/WixMadeforDisplay-Regular.woff2') format('woff2'),
        url('../resources/fonts/WixMadeforDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WixMadeforDisplay';
    src: url('../resources/fonts/WixMadeforDisplay-SemiBold.woff2') format('woff2'),
        url('../resources/fonts/WixMadeforDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../resources/fonts/gothampro.woff2') format('woff2'),
        url('../resources/fonts/gothampro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../resources/fonts/gothampro-medium.woff2') format('woff2'),
        url('../resources/fonts/gothampro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukWideCyr';
    src: url('../resources/fonts/drukwidecyr-bold.woff2') format('woff2'),
        url('../resources/fonts/drukwidecyr-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    height: 100%;
    font-family: "WixMadeforDisplay", Inter, sans-serif;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

@media (min-width:320px) {
    .page {
        font-size: calc(100vw / 360 * 10);
        overflow-x: hidden;
    }
}

@media (min-width:640px) {
    .page {
        overflow-x: visible;
        font-size: calc(100vw / 1920 * 10);
    }
}

.page__body {
    margin: 0;
    min-width: 32rem;
    min-height: 100%;
    font-size: 1.7rem;
    background-color: var(--white);
    color: var(--blue);
    line-height: 1.4;
    font-weight: 500;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .page__body {
        font-size: 1.3rem;
        overflow-x: hidden;
    }
}

main {
    position: relative;
    z-index: 2;
    width: 100%;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    -webkit-transition: color .2s, background-color .2s, background .2s, opacity .2s, -webkit-transform .2s;
    transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s, -webkit-transform .2s;
    -o-transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s;
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

dl,
dt,
dd {
    margin: 0;
}

ul {
    padding-left: 1rem;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: start;
}

ul li::before {
    content: '';
    flex-shrink: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: block;
    background-color: inherit;
    margin-right: .7rem;
    margin-top: 1rem;
}

li:not(:last-child) {
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    ul li::before {
        margin-right: .7rem;
        margin-top: .7rem;
    }

    li:not(:last-child) {
        margin-bottom: 1.1rem;
    }
}

.is-hidden {
    display: none !important
}

.btn-reset {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .2s linear;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
    display: none
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.container {
    width: 116rem;
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width:640px) {
    .container {
        width: 34rem;
    }
}

.main-btn {
    font-family: "WixMadeforDisplay";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: var(--white);
    background: var(--blue);
    text-align: center;
    transition: all 0.2s;
    display: block;
    width: fit-content;
    border-radius: 1.2rem;
    position: relative;
    z-index: 1;
    padding: 2.4rem 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: -0.02em;
}

.main-btn svg {
    width: 1rem;
    height: 1rem;
}

.white-btn {
    color: var(--blue);
    background: var(--white);
}


@media (hover:hover) {
    .main-btn:hover {
        opacity: 0.7;
    }
}

@media (hover:none) {
    .main-btn:active {
        opacity: 0.7;
    }
}

@media (max-width: 640px) {
    .main-btn {
        font-size: 1.4rem;
        padding: 2.4rem 3.6rem;
    }
}

.title {
    font-family: 'DrukWideCyr';
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.3;
    color: var(--blue);
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-wrap: balance;
}

.title.text-align-center {
    text-align: center;
}

.title.white {
    color: var(--white);
}

.subtitle {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 500;
    text-transform: lowercase;
    color: var(--green);
    text-align: center;
}

.subtitle::before {
    content: '[ ';
}

.subtitle::after {
    content: ' ]';
}

.form__box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__input {
    font-family: "WixMadeforDisplay";
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--blue);
    background: #FCFCFC;
    font-weight: 500;
    padding: 3.1rem 2rem 3.1rem 7rem;
    border: 1.3px solid #DCE4EC;
    width: 100%;
    outline: none;
    margin-bottom: 0;
    border-radius: 1.5rem;
    margin-top: 0;
}

.form__input::placeholder {
    color: #9B9EB0;
}


.animated {
    visibility: hidden;
    opacity: 0;

}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #323232;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    transition: all .2s linear;
    margin-bottom: 0.2rem;
}

@media (max-width: 640px) {
    .custom-checkbox>span::before {
        width: 1rem;
        height: 1rem;
        margin-right: .4rem;
    }
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6741 5.89355L8.01619 15.7883L4.30566 12.0778' stroke='rgb(50, 50, 50)' stroke-width='1.94595' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

/* 
.form__btn {
    text-transform: uppercase;
    width: 100%;
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: 1.8rem 5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.acceptance__text {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;

    color: #323232;

} */

.modal {
    position: fixed;
    z-index: 999;
    inset: 0;
    bottom: initial;
    background: #DFDFDF4D;
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
    overflow-y: scroll
}

.modal--active {
    opacity: 1;
    visibility: visible
}

.modal__inner {
    position: relative;
    max-width: 72rem;
    width: fit-content
}

.modal__content {
    border-radius: 1rem;
    padding: 2.8rem 4.6rem 3.3rem 3.7rem;
    background-color: #fff;
    width: 100%;
}

.modal__content::-webkit-scrollbar {
    width: 0;
    height: 0
}

.modal__close {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 1rem;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    right: 1rem;
    color: #000;
}

.modal__close svg {
    width: 1.2rem;
    height: 1.2rem
}

@media (max-width: 640px) {
    .modal__inner {
        max-width: 28.6rem;
    }

    .modal__content {
        padding: 3.9rem 2.5rem;
    }
}

/* Header  */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.85rem;
    padding: 3rem 0 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #DCE4EC
}

.header__logo {
    gap: 2rem;
    display: flex;
    align-items: center;
    width: 22.8rem;
    flex-shrink: 0;

}

.header__logo__img {
    width: 7.8rem;
    height: 5.8rem;
    flex-shrink: 0;
}

.header__logo__description {
    text-wrap: balance;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: -0.02em;

}

.header__logo__description span {
    color: var(--green);
}

.description p:not(:last-child) {
    margin-bottom: 1.6rem;
}


.dropdown-button {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--blue);
    font-family: 'WixMadeforDisplay';
    text-wrap: nowrap;
}

.dropdown-button::after {
    width: .7rem;
    height: .3rem;
    background-image: url(../img/svg/arrow-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    display: block;
}

.city__dropdown__btn::before {
    content: '';
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url(../img/svg/location.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    align-items: stretch;
    text-wrap: nowrap;
}

.dropdown-content a {
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: var(--blue);
    padding: 1rem;
    font-weight: 500;
    text-wrap: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.header__nav__item {
    font-weight: 600;
    background-color: var(--gray);
    padding: .8rem 1.6rem;
    font-size: 1.4rem;
    line-height: 1.2;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav__item span {
    color: var(--green);
    font-size: 1.2rem;
    text-transform: lowercase;
    text-wrap: nowrap;
}


.header__socials {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.socials__item {
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 50%;
}

.socials__item img {
    width: 1.5rem;
    height: 1.5rem;
}




.header__contacts {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: .7rem;
}

.contacts__link {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--blue);
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.contacts__link.bold {
    font-weight: 700;
}

.contacts__link svg {
    width: 1.4rem;
    height: 1.4rem;
}

.header__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
    border-bottom: 1px solid #DCE4EC;
}

.header__products__nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-shrink: 0;
}

.header__products__item {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header__products__item span {
    color: var(--green);
    font-size: 1.3rem;
    margin-top: .2rem;
}

.header__cart {
    border-radius: 50%;
    background-color: var(--green);
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart svg {
    width: 2rem;
    height: 2rem;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-start {
    align-items: start;
}

.header__bottom {
    padding: 1.6rem 0 3rem;
}

.header__categories__nav {
    display: flex;
    align-items: stretch;
    gap: 1.3rem;
}

.header__categories__item {
    border: 1px solid var(--green);
    border-radius: 4rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 600;
    line-height: -0.2em;
    text-wrap: balance;
}


@media (hover:hover) {

    .header__nav__item:hover,
    .socials__item:hover,
    .contacts__link:hover,
    .header__categories__item:hover,
    .header__products__item:hover,
    .header__cart:hover {
        opacity: 0.7;
    }
}

/* Banner  */
.banner {
    background-image: url(../img/frontpage/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 12.5rem 0;
    color: var(--white);
    margin-bottom: 6rem;
}

.banner__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    inset: 0;
}

.banner__inner {
    display: flex;
    align-items: end;
    gap: 3.3rem;
}

.banner__left {
    max-width: 75rem;
}

.banner__title {
    font-size: 3.4rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.banner__title span {
    color: #B5DCBF;
}

.banner__desciption {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.9rem;
    margin-bottom: 5.2rem;
}

.banner__description__text {
    text-wrap: balance;
    font-size: 1.9rem;
    letter-spacing: -0.04em;
    width: fit-content;

}

.banner__description__text strong {
    font-weight: 800;
}

.banner__offer {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.03em;
    background-color: var(--blue);
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    text-align: center;
    text-transform: uppercase;

}

.banner__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 7rem;
    max-width: 65rem;
}

.banner__link {
    background-color: #fff;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.8rem;
    color: var(--blue);
    text-wrap: balance;
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.02em;
    gap: 2rem;
}

.banner__link::after {
    content: '';
    width: 5.2rem;
    height: 3.6rem;
    display: block;
    background-image: url(../img/base/arrow-top-diagonal-with-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .8rem;
    flex-shrink: 0;
}

.banner__video__link {
    width: 34rem;
    height: 34rem;
    flex-shrink: 0;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
    backdrop-filter: blur(19px);
    border: 1px solid #FFFFFF33;
    background: #2A2F4766;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.04;
    text-align: center;
}

.banner__video__link strong {
    font-weight: 800;
    color: #CCECD4;
}

.banner__video__link::before {
    content: '';
    background-image: url(../img/base/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 4rem;
    height: 4rem;
}

@media (hover:hover) {

    .banner__link:hover,
    .banner__video__link:hover {
        opacity: 0.9;
    }
}

/* Quiz  */
.quiz {
    background-color: #2A2F47;
    background-image: url(../img/base/bg-quiz.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8rem 0 9.4rem;
    margin: 7rem;
    border-radius: 2rem;
    color: #fff;
}

.quiz__inner {
    max-width: 56rem;
    margin-right: auto;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 1.1rem 0;
    width: 100%;
    background-color: var(--blue);
    border-radius: 2rem;
    /* overflow: hidden; */
}

input[type=range]:focus {
    outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .8rem;
    cursor: pointer;
    animate: .2s;
    background: #3C4262;
    border-radius: .5rem;
}

input[type=range]::-webkit-slider-thumb {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: var(--blue);
    border: 1rem solid var(--white);
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.1rem;
    /* box-shadow: -100rem 0 0 100rem #fff; */
}

.quiz__range {
    position: relative;
}

.range-value {
    position: absolute;
    top: -50%
}

.range-value span {
    line-height: 1;
    text-align: center;
    top: 1.5rem;
    display: block;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 400;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.range__nums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1.8rem;
    font-weight: 400
}

.quiz__description {
    margin-bottom: 6rem;
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.04em;
}

.quiz__description strong {
    font-weight: 600;
}

.quiz__steps {
    position: relative;
    height: 35rem;
    flex-direction: column;
    display: flex;
    align-items: start;

}

.step {
    padding: 2rem 4.4rem;
    position: relative;
    margin-bottom: 3rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.step::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    background-image: url(../img/base/corner-top-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.step::after {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    background-image: url(../img/base/corner-bottom-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.step__title {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
    display: block;

}

.step__title::before {
    content: '/ ';
}

.step__label {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 4.1rem;
    display: block;
}

.quiz__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
}

.quiz__prev__btn {
    background-color: #3C4262;
}

.quiz__prev__btn svg {
    transform: scale(-1, 1);
}

.quiz__prev__btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}


.quiz__radios {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.quiz__radio__box {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.02;
    color: #fff;
    font-weight: 500;
}

.quiz__radio__input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border: 1px solid #FFFFFF33;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.quiz__radio__input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
}

.quiz__radio__input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quiz__radio__input:disabled+span {
    opacity: 0.5;
    cursor: not-allowed;
}

.send-quiz {
    pointer-events: none;
}

/* Products  */

.products {
    padding: 7rem 0;
}

.products__subtitle {
    margin-bottom: 4rem;
}

.products__title {
    text-align: center;
    margin-bottom: 3rem;
}

.products__description {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 6rem;
}

.products__cats {
    border-top: 1px solid #B8C4D0;
    border-radius: 2rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.products__cat {
    min-height: 41rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 2.2rem;
    border-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 500;
    text-wrap: balance;
}

.products__cat__name {
    font-family: 'DrukWideCyr';
    font-size: 2rem;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 500;
}

/* About  */
.about {
    padding: 7rem 0;
}

.about .subtitle {
    text-align: left;
    margin-bottom: 4rem;
}

.about .title {
    margin-bottom: 5rem;
}

.about__text {
    padding-top: 5rem;
    border-top: 1px solid #B8C4D0;
    border-radius: 2rem;
    text-wrap: balance;
    gap: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
}

.more-link svg {
    width: 1rem;
    height: 1rem;
    transition: all .2s linear;

}

.about__text__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.more-link {
    font-weight: 700;
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: all .2s linear;

}

@media (hover:hover) {
    .more-link:hover svg {
        transform: translateX(.5rem);
    }
}

.about__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

.about__advantages__item {
    position: relative;
    overflow: hidden;
    background-color: #F1F3F5;
    border-radius: 1rem;
    padding: 3.4rem 5rem;
    color: var(--green);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'DrukWideCyr';
    line-height: 1.3;
    text-transform: uppercase;
}

.about__advantages__item::before {
    content: '';
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    background-color: var(--green);
    position: absolute;
    left: -1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.swiper-about {
    margin: 0 7rem;
    border-radius: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.about__slide {
    height: 81.8rem;
    border-radius: 2rem;
    overflow: hidden;
}

.about__slide::before {
    content: '';
    background: linear-gradient(180deg, rgba(42, 47, 71, 0) 0%, rgba(42, 47, 71, 0.6) 100%);
    position: absolute;
    inset: 0;
    margin: 0;
    z-index: 2;
}

.about__video {
    position: absolute;
    inset: 0;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about__slide__link {
    padding: 2.5rem 3rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    background: #2A2F4766;
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(19px);
    width: 44.5rem;
    color: #fff;
    /* text-wrap: balance; */
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 600;
    z-index: 3;
    position: absolute;
    bottom: 4rem;
    left: 27.3rem;
}

.about__slide__link::before {
    content: '';
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(../img/frontpage/about-slide-video-default.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.swiper-about-controls {
    z-index: 5;
    padding: 2rem 5rem;
    border-radius: 4rem;
    border: 1.5px solid #FFFFFF33;
}

.swiper-pagination-fraction {
    color: var(--white);
    font-family: 'DrukWideCyr';
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.3;
    letter-spacing: -0.04em;
}

.swiper-pagination-total {
    opacity: 0.4;
}

.swiper-pagination-fraction,
.swiper-button-next,
.swiper-button-prev {
    position: static;
}

.swiper-about-controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    right: 31rem;
    gap: 2rem;
}

.swiper-button-next,
.swiper-button-prev {
    width: 1.6rem;
    height: .5rem;
    margin-top: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
    background-image: url(../img/svg/arrow-right-wide.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.6rem;
    display: block;
    width: 1.6rem;
    height: 1rem;
}

.swiper-button-prev {
    transform: scale(-1, 1);
}

/* About callback  */
.about__callback {
    background-color: var(--blue);
    background-image: url(../img/base/about-cta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    padding: 5rem 7rem 5rem 35rem;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    gap: 5rem;
    color: #fff;
}

.about__callback__title {
    font-size: 2.6rem;
    max-width: 37rem;
    margin-bottom: 0 !important;
}

.about__callback__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

/* Delivery  */
.delivery {
    background-image: url(../img/base/map.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 7rem 0 14rem;
}

.delivery__inner {
    padding-left: 39.5rem;
    position: relative;
}

.delivery__subtitle {
    position: absolute;
    top: 0;
    left: 0;
}

.delivery__decsription {
    margin-bottom: 6.4rem;
    text-wrap: balance;
    font-weight: 400;
}

.delivery__cost {
    max-width: 57rem;
    margin-left: 10rem;
}

.delivery__cost__title {
    font-family: 'DrukWideCyr';
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.delivery__cost__title::before {
    content: '';
    width: 3.8rem;
    height: 1px;
    background: var(--green);
    display: inline-block;
    margin-right: 1.6rem;
}

.delivery__cost__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.delivery__cost__item {
    background-color: #DFEDE3;
    padding: 2rem;
    border-radius: .8rem;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.delivery__cost__item__price {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.1rem;
    font-weight: 700;
    color: var(--green);
    letter-spacing: -0.02em;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.delivery__cost__text {
    text-wrap: balance;
    position: relative;
    padding-left: 1.8rem;
}

.delivery__cost__text::before {
    content: '';
    position: absolute;
    top: .8rem;
    width: .8rem;
    height: .8rem;
    display: block;
    border-radius: 50%;
    background-color: var(--green);
    left: 0;
}

.delivery__areas {
    width: 41rem;
    height: 41rem;
    background-image: url(../img/base/delivery-area.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -8rem;
    left: -6.2rem;
}

.delivery__area__moscow {
    font-family: 'DrukWideCyr';
    font-size: 1.1rem;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    background-color: var(--green);
    padding: .5rem 1.3rem;
    border-radius: .8rem;
    text-transform: uppercase;
    width: fit-content;
    position: absolute;
    top: 13.3rem;
    left: 10.6rem;
}

.delivery__area {
    background-color: #fff;
    border-radius: .7rem;
    padding: .5rem 1.3rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--blue);
    width: fit-content;
    text-align: center;
    box-shadow: 0px 12.41px 42.2px 0px #0207111F;
    position: absolute;
}

.delivery__area__2 {
    bottom: 13.8rem;
    right: 4.1rem;
}

.delivery__area__3 {
    bottom: 2.2rem;
    right: 10.8rem;
}

.delivery__area::after {
    content: '';
    border: 1.5rem solid transparent;
    border-top: 1.5rem solid var(--white);
    border-radius: 2px;
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 12.41px 42.2px 0px #0207111F;

}

.montage {
    background-image: url(../img/base/montage-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 12rem;
    padding-bottom: 11.1rem;
    margin: 0 7rem;
}

.montage__inner {
    position: relative;
    padding-left: 39.3rem;
    text-wrap: balance;
    position: relative;
}

.montage .subtitle {
    position: absolute;
    top: 0;
    left: 0;
}

.montage__list {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2rem;
}

.montage__item {
    flex-grow: 1;
    background-color: #fff;
    border-radius: .8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-wrap: balance;
    justify-content: space-between;
    min-height: 19rem;
    font-size: 1.4rem;
    /* overflow: hidden; */
    position: relative;
    max-width: 39.3rem;
}

.montage__item:nth-child(1) {
    width: 39.3rem;

}

.montage__item:nth-child(2) {
    width: 35.4rem;

}

.montage__item:nth-child(3) {
    width: 37.3rem;

}

.montage__item:nth-child(4) {
    width: 37.3rem;

}

.montage__title {
    color: var(--green);
    font-family: 'DrukWideCyr';
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: relative;
    max-width: 23.4rem;
}

.montage__title::before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: .6rem;
    left: -4.6rem;
    border-right: 1.5rem solid var(--green);
}

.montage__item::after {
    content: '';
    width: 15.1rem;
    height: 11.4rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: -2.8rem;
    right: 0;
    z-index: 5;
    mix-blend-mode: darken;
}

.montage__item:nth-child(1):after {
    background-image: url(../img/base/montage1.png);

}

.montage__item:nth-child(2):after {
    background-image: url(../img/base/montage2.png);

}

.montage__item:nth-child(3):after {
    background-image: url(../img/base/montage3.png);

}

.montage__item.green {
    background-color: var(--green);
    color: #fff;

}

.montage__item.green .montage__title {
    color: #fff;
}

.montage__item.green .montage__title::before {
    border-color: #fff;
}

.pros {
    padding: 14rem 0 7rem;
}

.pros .subtitle {
    text-align: left;
    margin-bottom: 4rem;
}

.pros__header {
    display: flex;
    align-items: end;
    gap: 7.8rem;
    text-wrap: balance;
    margin-bottom: 6rem;
}

.pros__header .title {
    max-width: 61rem;
    margin-bottom: 0;
}

.pros__steps {
    padding-top: 5rem;
    border-top: 1px solid #B8C4D0;
    border-radius: 2rem;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    margin-bottom: 2rem;
}

.pros__step {
    background-color: #F1F3F5;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    padding: 2rem 2.4rem 2.4rem;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
}

.pros__step__icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    border-radius: .6rem;
    background-color: #fff;
    margin-bottom: 4rem;
}

.pros__step__icon img {
    width: 2.4rem;
    height: 2.4rem;
}

.pros__step__title {
    font-family: 'DrukWideCyr';
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-wrap: balance;
}

.pros__step__text {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-wrap: balance;
}

.pros__cta {
    background-image: url(../img/base/pros-cta-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    padding: 7rem 21.1rem 5.5rem 8.4rem;
    color: #fff;
}

.pros__cta .title {
    font-size: 2.6rem;
    margin-bottom: 1.4rem;
}

.pros__text {
    max-width: 25rem;
    text-wrap: balance;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.pros__form {
    padding: 1.4rem 1.4rem 0;
    border-top: 1px solid #DCE4EC30;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

.pros__form .form__input {
    background-color: #32333A;
    border-radius: 1.2rem;
    color: #9B9EB0;
    border-color: transparent;
    padding: 2.4rem 2rem 2.4rem 5.4rem;
    font-size: 1.5rem;
}

.pros__form>* {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 27.1rem;
}

.input-wrapper {
    position: relative;
    flex-grow: 1;
}

.input-wrapper::before {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    position: absolute;
    top: 2.6rem;
    left: 3rem;
}

.input-name::before {
    background-image: url(../img/svg/user.svg);

}

.input-phone::before {
    background-image: url(../img/svg/phone-input.svg);

}

/* Cases  */
.cases {
    padding: 7rem 0;
}

.cases .subtitle {
    margin-bottom: 4rem;

}

.cases .title {
    text-align: center;
    margin-bottom: 3rem;
}

.cases .description {
    text-wrap: balance;
    max-width: 85rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;

}

.swiper-cases {
    padding-top: 5rem;
    border-top: 1px solid #B8C4D0;
    border-radius: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
}

.cases__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    background-color: #fff;
}

.cases__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

.cases__block {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: #F1F3F5;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    text-wrap: balance;
}

.cases__block:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    align-items: center;
}

.cases__block:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: column;
    min-height: 15rem;

}

.cases__block:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    flex-direction: column;
    min-height: 15rem;

}

.cases__block:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;
    gap: 2rem;
    align-items: center;
}

.cases__span {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
    color: #9B9EB0;
}

.cases__name {
    font-family: 'DrukWideCyr';
    margin-bottom: 2.6rem;
    font-size: 2.2rem;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.cases__block__subtitle {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--green);
}

.cases__block__image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.cases__showmore {
    margin: 0 auto;
}

.cases__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2rem;
}

.swiper-cases-controls {
    right: 16.6rem;
    bottom: 2rem;
}

/* Free delivery  */
.free-delivery {
    background-color: var(--blue);
    background-image: url(../img/base/free-delivery-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 2rem;
    margin: 0 7rem;
    color: #fff;
}

.free-delivery__content {
    padding: 12rem 0 0 49.2rem;
    margin-bottom: 3.5rem;
}

.free-delivery .title {
    margin-bottom: 3rem;
}

.free-delivery__subtitle {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2rem;
}

.free-delivery__subtitle::before {
    content: '';
    display: inline-block;
    width: 3.8rem;
    height: 1px;
    background-color: #fff;
}

.free-delivery__text {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-bottom: 3.5rem;
    text-wrap: balance;
}

.free-delivery__specialist {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.free-delivery__specialist__icon {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    flex-shrink: 0;
    position: relative;
}

.free-delivery__specialist__icon::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 1.1rem;
    right: 1.1rem;
    border: .5rem solid var(--green);
    border-radius: 50%;
    background-color: #fff;
}

.free-delivery__specialist__text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-wrap: balance;
}

.free-delivery__cta {
    padding: 2rem 0 6rem;
    border-top: 1px solid #DCE4EC30;
    border-radius: 2rem;
    ;
}

.free-delivery__cta__inner {
    background-color: #fff;
    padding: 4rem;
    border-radius: 2rem;
    color: var(--blue);
    display: flex;
    align-items: center;
    gap: 3rem;
    text-wrap: balance;

}


.free-delivery__cta__title {
    font-family: 'DrukWideCyr';
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.free-delivery__cta__title::before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: -5.6rem;
    border-right: 1.5rem solid var(--green);
}

.free-delivery__cta__text {
    font-size: 1.6rem;
    text-wrap: balance;
    width: 43rem;
    flex-shrink: 0;
}

.free-delivery__cta__button {
    flex-shrink: 0;
    padding-left: 3.8rem;
    padding-right: 3.8rem;

}

/* Blog  */
.blog {
    padding: 10rem 0;
}

.blog .subtitle {
    margin-bottom: 4rem;
}

.blog .title {
    text-align: center;
    margin-bottom: 3.3rem;
}

.blog .description {
    text-align: center;
    text-wrap: balance;
    margin-bottom: 6rem;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.4rem;
    margin-bottom: 6.8rem;
}

.article-card {
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.article-card__link {
    position: absolute;
    inset: 0;
    margin: 0;
}

.article-card__img {
    height: 23rem;
}

.article-card__box {
    background-color: #F1F3F5;
    border: 1px solid #DCE4EC;
    padding: 3rem 1.6rem 2.5rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.article-card__title {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 1.5rem;
    text-wrap: balance;
    line-height: 1.6;
}

.article-card__excerpt {
    margin-bottom: 3rem;
}

.article-card__more {
    margin-top: auto;
    display: block;
    width: 23rem;
    background-color: #fff;
    padding: 1.3rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: underline;
    font-weight: 600;
    height: fit-content;
    flex-grow: 0;
    margin: auto auto 0 auto;
}

.article-card__more::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/base/icon-doc.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-card__more::after {
    content: '';
    display: block;
    width: 3rem;
    height: .5rem;
    background-image: url(../img/base/icon-arrow-right.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__cta {
    box-shadow: 0px 0px 20px 0px #00000033;
    margin: 0;
    border: none;
    padding: 0;
}

.blog__cta .free-delivery__cta__button {
    text-transform: uppercase;
}

/* Quality  */
.quality {
    padding: 7rem 0;
}

.quality .subtitle {
    text-align: left;
    margin-bottom: 4rem;
}

.quality__header,
.quality__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.quality__header {
    margin-bottom: 7.2rem;
    text-wrap: balance;
}

.quality .description {
    padding-left: 5.7rem;
}

.quality__card {
    border-radius: 2rem;
    border: 1px solid #B8C4D0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.quality__card--good {
    background-color: #F1F3F5;
    border: none;
}

.quality-swiper {
    width: 49rem;
    margin-top: auto;
}

.quality-swiper-wrapper {
    height: fit-content;
}

.quality__card__header {
    font-family: 'DrukWideCyr';
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.04em;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    text-wrap: balance;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.quality__card__header::before {
    content: '';
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.quality__card--bad .quality__card__header::before {
    background-image: url(../img/base/quality-bad.svg);
}

.quality__card--good .quality__card__header::before {
    background-image: url(../img/base/quality-good.svg);
}

.quality__text {
    margin-bottom: 3rem;
    text-wrap: balance;
}

.quality__text li::before {
    background-color: var(--blue);
}

.quality__img {
    height: 35.4rem;
    border: 2rem;
    overflow: hidden;
}

.swiper-quality-controls {
    position: static;
    margin-top: 2.2rem;
    color: var(--blue);
    border: 1.5px solid #2A2F4733;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.swiper-quality-controls .swiper-pagination-fraction {
    color: #2A2F4766;
}

.swiper-pagination-current {
    color: var(--green);
}

/* #2D363F4D */
.swiper-quality-controls .swiper-button-prev,
.swiper-quality-controls .swiper-button-next {
    background-color: white;
}

.swiper-quality-controls .swiper-button-prev::after,
.swiper-quality-controls .swiper-button-next::after {
    mix-blend-mode: exclusion;
    opacity: 0.5;
}