.montage {
    background-image: url(../img/montage/montage-single.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin: 0;
}
.montage__inner  {
    padding-left: 0;
}
.montage .subtitle {
    right: 0;
    text-align: right;
}

.montage .title {
    max-width: 67rem;
    margin-bottom: 3rem;
}
.montage__list {
    padding-left: 39rem;
    margin-top: 9rem;
}
.text {
    padding: 6rem 0;
    text-wrap: balance;
}
