.montage {
    background-image: url(../img/montage/montage-single.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin: 0;
}

.montage__inner {
    padding-left: 0;
}

.montage .subtitle {
    right: 0;
    text-align: right;
}

.montage .title {
    max-width: 67rem;
    margin-bottom: 3rem;
}

.montage__list {
    padding-left: 39rem;
    margin-top: 9rem;
}

.text {
    padding: 6rem 0;
    text-wrap: balance;
}


@media (max-width: 640px) {
    .montage {
        background-image: url(../img/montage/montage-single-mobile.png);
        background-position: center left;
        margin: 0 1rem;
        border-radius: 2rem;
    }

    .montage .title {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .montage__list {
        padding-left: 0;
        margin-top: 31.6rem;
    }

    .text {
        padding: 5rem 0;
    }
}