.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    padding-top: 5rem;
}
.breadcrumbs svg {
    width: 1.5rem;
    height: 1.5rem;
}
.breadcrumbs>span:last-child {
    color: var(--green);
    font-weight: 700;
}